<h2>Welcome to the Pierre's Sweet and Savory Treats</h2>
<p>@Html.ActionLink("Treats", "Index", "Treats", null, new {@class = "myCssClass"})</p>
<p>@Html.ActionLink("Flavors", "Index", "Flavors", null, new {@class = "myCssClass"})</p>