@model PierresTreats.Models.Flavor

<h2>Do you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@* @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name) *@

@using (Html.BeginForm())
{
    <input class="myCssClass" type="submit" value="Delete" />
}
</br>
@Html.ActionLink("Back to List of Flavors", "Index", null, null , new {@class="myCssClass"})